.display {
    // display: flex;
    // justify-content: center;
    // background-color: yellow;
    // flex-wrap: wrap;
}

.goods {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}