.display {
    // display: flex;
    // justify-content: center;
    // background-color: yellow;
    // flex-wrap: wrap;
    background-color: white;
}

.goods {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cart {
    position: absolute;
    right: 0;
    top: 50%;
}

.cartGoods {
    display: flex;
    justify-content: space-evenly;


    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 20px;
    }
}

.meta {
    display: flex;
    justify-content: space-between;
}

.drawer {
    display: flex;
}

.button {
    margin-top: 40px;
    align-self: flex-end;
}